html {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 4em;
  text-align: center;
}

html {
  background-color: #E0E0E0;
}

body {
  margin: 0 auto;
  background-color: #99df0d;
  border: 5em solid black;
  padding: 2em;
}

div.content-container {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

h1 {
  margin: 0;
  padding: 1em 0;
  color: #E91E63;
  text-shadow: 0.1em 0.1px 0.1px black;
}

img {
  display: block;
  width: 50vw;
}

form button {
  display: inline;
}

div.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.btn button {
  padding: 1em;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  border-width: 0.3em;
  margin: 1em;
  min-width: 8em;
  border-radius: 1em;
}
