html {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 4em;
  text-align: center;
}

html {
  background-color: #E0E0E0;
}

body {
  width: 75em;
  margin: 0 auto;
  background-color: #99df0d;
  padding: 0 5em 5em 5em;
  border: 2px solid black;
}

h1 {
  margin: 0;
  padding: 1em 0;
  color: #E91E63;
  text-shadow: 0.1em 0.1px 0.1px black;
}

img {
  display: block;
  margin: 0 auto;
}

form button {
  display: inline;
}

button {
  display: block;
  padding: 1em;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  border-bottom-left-radius: 1.0em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin: 1em;
}
